*{
     padding: 0;
     margin: 0;

}

.main_container{
      height:4029px;
      width: 1440px;
      background-color:#FFFFFF;
      position:relative;

}
li{
      display: inline-block;
      position: absolute;




}
#home{

width: 1673px;
height:1116px;
background-image:url("../CSS/images/james_header.png");
background-repeat: no-repeat;
position:absolute;
top:-22px;
left:0px;

}

.nav{
    position:absolute;
    top:48px;
    left:920px;
    

}
.text_one{

      position: absolute;
      height: 116px;
      width:378px;
      left:100px;
      top:181px;
      font-family:'lato';
      font-style: normal;
      font-weight: 700;
      font-size:48px;
      line-height: 58px;
      color:#404040;

}
.text_two{
      position: absolute;
      width:410px;
      height:144px;
      left:100px;
      top:321px;
      font-family:'lato';
      font-style:normal;
      font-weight:400;
      font-size:16px;
      line-height:24px;
      color:#404040;



}
#about{

      position:absolute;
      width:1440px;
      height:709px;
      left:0px;
      top:740px;
      background-color:#F2F2F2;

}

#image_two{

       width:500px ;
       height:87% ;
       position:absolute;
       top:86px;
       left:99.08px;



}
h1{
    position:absolute;
    height:21px ;
    width:143px ;
    left:625px;
    top:86px ;
    font-size: 32px;
    font-family:'lato' ;
    font-weight:700 ;
    font-style:normal ;
    color: #404040;
    line-height: 21px;


}
.about_text{

    position:absolute;
    height:504px ;
    width:715px ;
    left:625px ;
    top:115px ;
    font-size: 16px;
    font-family:'lato' ;
    font-weight:400 ;
    font-style:normal ;
    color: #404040;
    line-height: 24px;

}

#gallery{
    position: absolute;
    top:1449px;
    left:0px;
    height:1342px;
    width:1440px;
    background-color:#F2F2F2;


}
h2{   
      position: absolute;
      width: 105px;
     height: 21px;
     left: 667px;
    top: 12px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 21px;
    color: #404040;



}
.gallery_text{
    position:absolute;
    color: #404040;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    left:578px;
    top:49px;

}
.lady{

      position:absolute;
      height:580px;
      width:400px;
      left:100px;
      top:75px;
}
.ladytwo{

      position:absolute;
      height:580px;
      width:435px;
      left:520px;
      top:75px;


}

.ladythree{

      position:absolute;
      height:580px;
      width:400px;
      left:970px;
      top:75px;
}

.manone{

      position:absolute;
      height:570px;
      width:400px;
      left:100px;
      top:710px;
     

}
.lookup{
      position:absolute;
      height:570px;
      width:400px;
      left:520px;
      top:710px;


}
.mantwo{

      position:absolute;
      height:570px;
      width:400px;
      left:970px;
      top:710px;



}
.gallery_button{

      position:absolute;
      
}