*{
     padding: 0;
     margin: 0;
    
}

.main_container{
      height:4029px;
      width: 1440px;
      background-color:#FFFFFF;
      position:relative;
      box-sizing: border-box;
}

#home{

width: 1440px;
height:1116px;
background-image:url("../CSS/images/james_header.png");
background-repeat: no-repeat;
position:absolute;
top:-22px;
left:0px;
margin-right:-22px;


}

.nav{
    position:absolute;
    width:418px;
    height:19px;
    top:26px;
    left:930px;
    

}

li{
    display:inline;
    margin-left:20px;

}
a{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #404040;
    text-decoration: none;




}
ul{


      cursor: pointer;
}

.text_one{

      position: absolute;
      height: 116px;
      width:378px;
      left:100px;
      top:181px;
      font-family:'lato';
      font-style: normal;
      font-weight: 700;
      font-size:48px;
      line-height: 58px;
      color:#404040;

}
.text_two{
      position: absolute;
      width:410px;
      height:144px;
      left:100px;
      top:321px;
      font-family:'lato';
      font-style:normal;
      font-weight:400;
      font-size:16px;
      line-height:24px;
      color:#404040;



}

.home_button{

      width:189px;
      height:74px;
      position:absolute;
      top:500px;
      left:100px;
      border: 1px solid #afafaf;
      border-radius: 1px;
      box-sizing: border-box;
      background-color:whitesmoke;
      color: #404040; 
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;

}

.icons{
      width:200px ;
      height:200px;
      position:absolute;
      left:1310px;
      top:580px;
   
}
.fa-facebook-official{
      width:24px;
      height:19.5px;
      position:absolute;
      top:0px;
      left:6px;
      color:#404040;


}
.fa-twitter{

      width:24px;
      height:19.5px;
      position:absolute;
      top:40px;
      left:6px;
      color:#404040;
 

}
.fa-instagram{

      width:24px;
      height:19.5px;
      position:absolute;
      top:80px;
      left:6px;
      color:#404040;




}
.fa-youtube-play{

      width:24px;
      height:19.5px;
      position:absolute;
      top:120px;
      left:6px;
      color:#404040;


}
#about{

      position:absolute;
      width:1440px;
      height:709px;
      left:0px;
      top:740px;
      background-color:#F2F2F2;

}

#image_two{

       width:500px ;
       height:87% ;
       position:absolute;
       top:86px;
       left:99.08px;



}


h1{
    position:absolute;
    height:21px ;
    width:143px ;
    left:625px;
    top:86px ;
    font-size: 32px;
    font-family:'lato' ;
    font-weight:700 ;
    font-style:normal ;
    color: #404040;
    line-height: 21px;


}
.about_text{

    position:absolute;
    height:504px ;
    width:715px ;
    left:625px ;
    top:115px ;
    font-size: 16px;
    font-family:'lato' ;
    font-weight:400 ;
    font-style:normal ;
    color: #404040;
    line-height: 24px;

}

#gallery{
    position: absolute;
    top:1449px;
    left:0px;
    height:1342px;
    width:1440px;
    background-color:#F2F2F2;


}
h2{   
      position: absolute;
      width: 105px;
     height: 21px;
     left: 667px;
    top: 12px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 21px;
    color: #404040;



}
.gallery_text{
    position:absolute;
    color: #404040;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    left:578px;
    top:49px;

}
.lady{

      position:absolute;
      height:580px;
      width:400px;
      left:100px;
      top:75px;
}
.ladytwo{

      position:absolute;
      height:580px;
      width:435px;
      left:520px;
      top:75px;


}

.ladythree{

      position:absolute;
      height:580px;
      width:400px;
      left:970px;
      top:75px;
}

.manone{

      position:absolute;
      height:570px;
      width:400px;
      left:100px;
      top:710px;
     

}
.lookup{
      position:absolute;
      height:570px;
      width:400px;
      left:520px;
      top:710px;


}
.mantwo{

      position:absolute;
      height:570px;
      width:400px;
      left:970px;
      top:710px;



}
.gallery_btn{

      position:absolute;
      top: 1283px;
      left:625px;
      width:189px;
      height:50px;
      box-sizing: border-box;
      border:1px solid #404040;

      
}



#clients{

      position: absolute;
      width: 1440px;
      height: 283px;
      left: calc(50% - 1440px/2);
      top: 2791px;
      background: #F2F2F2;



}
#clients>:first-child{

     position: absolute;
      width: 164px;
      height: 21px;
      left: calc(50% - 164px/2 + 7px);
      top: 21px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 21px;
      color: #404040;


}

.second_child{


      position: absolute;
      width: 343px;
      height: 21px;
      left: 538px;
      top: 56px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #404040;
}
.client_images{
      position: absolute;
      width: 1440px;
      height: 150px;
      left: calc(50% - 1440px/2);
      top:137.55px;
      background: #F2F2F2;

}
.dc_logo{

      position:absolute;
      height:102px;
      width:300px;
      top:110px;
      left: calc(50% - 102px/2 - 569px);
    

}
.vogue_logo{

      position:absolute;
      height:102px;
      width:300px;
      top:110px;
      left: calc(50% - 62.61px/2 - 115.7px);
      

}
.terra_logo{


      position:absolute;
      height:102px;
      width:300px;
      top:110px;
      left: calc(50% - 295px/2 + 472.5px);


}


#contact{

     position:absolute;
     width: 1440px;
     height: 914px;
     left: 0px;
     top: 3074px;
     background: #F2F2F2;




}
#contact>:first-child{



      position: absolute;
      width: 168px;
      height: 21px;
      left: 636px;
      top: 30px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 21px;
      color: #404040;

}

.contact_image{

      position: absolute;
      width: 400px;
      height: 500px;
      left: 99.08px;
      top: 60px;
      background-image: url(../html/Images/about.jpg);
      background-size: cover;


}
.contact_second_child{
      position: absolute;
      width: 251px;
      height: 21px;
      left: 584px;
      top: 64px;
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #404040;

}
#contact>form{

      box-sizing: border-box;
      position: absolute;
      width: 720px;
      height: 460px;
      left: 700px;
      top: 100px;
      border:none;
      background-color: aqua;
     
  
}

#contact>form>p{

      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 21px;
      color: #404040;
      /*padding:20px;*/

}


#footer{
      position: absolute;
      width: 1440px;
      height: 102px;
      left: 0px;
      top: 853px;
      background: #F2F2F2;




}


#footer>p{
position: absolute;
width: 314px;
height: 17px;
left: 563px;
top: 10px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #404040;

}




#footer>.fa-twitter{

      display:inline;
      position:absolute;
      top:42px;
      left: 45.17%;
      width:24px;
      height:20px;
      bottom:1400px;

}

#footer>.fa-instagram{

      display:inline;
      position:absolute;
      top:42px;
      left: 49.26%;
      width:24px;
      height:20px;
      bottom:1400px;

}

#footer>.fa-youtube-play{

      display:inline;
      position:absolute;
      top:42px;
      left: 53.26%;
      width:24px;
      height:20px;
      bottom:1400px;

}

